cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
google-api-core==2.19.1
google-auth==2.31.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
grpcio==1.65.2
grpcio-reflection==1.65.2
grpcio-status==1.65.2
grpcio-tools==1.65.2
idna==3.7
PyJWT==2.8.0
mlxtend==0.23.1
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
proto-plus==1.24.0
protobuf==5.27.2
pyasn1==0.6.0
cryptography==42.0.7
pyasn1_modules==0.4.0
google-cloud-vision==3.7.4
python-dateutil==2.9.0.post0
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9
six==1.16.0
torch==2.4.0
transformers==4.44.2
upstash-vector==0.5.0
urllib3==2.2.2
scikit-learn==1.6.1